@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border_dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-dasharray='6' stroke-dashoffset='49' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
